:root {
        --ic-brand-primary-darkened-5: #045238;
--ic-brand-primary-darkened-10: #044E35;
--ic-brand-primary-darkened-15: #044A32;
--ic-brand-primary-lightened-5: #105E43;
--ic-brand-primary-lightened-10: #1D664D;
--ic-brand-primary-lightened-15: #296F57;
--ic-brand-button--primary-bgd-darkened-5: #055138;
--ic-brand-button--primary-bgd-darkened-15: #054932;
--ic-brand-button--secondary-bgd-darkened-5: #42414C;
--ic-brand-button--secondary-bgd-darkened-15: #3B3A44;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-28: #474747;
--ic-link-color-darkened-10: #074A33;
--ic-link-color-lightened-10: #1F634B;
--ic-brand-primary: #04563a;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #075238;
--ic-brand-button--primary-bgd: #05553a;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #454450;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #023B27;
--ic-brand-global-nav-ic-icon-svg-fill: #FFFFFF;
--ic-brand-global-nav-ic-icon-svg-fill--active: #0B9334;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #0B9D6A;
--ic-brand-global-nav-avatar-border: #FFFFFF;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: #0DA06D;
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #063C29;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/465/Ensign%20College%20Logo%20-%20Black%20and%20white.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/431/BYUPW-HorizontalGray-Padding.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/432/BYU-PW_Icon_Gold.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/433/mobile%201.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/434/mobile%201.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/435/BYUPW-HorizontalGray-Padding.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/436/BYUPW-HorizontalGray-Padding.svg');
--ic-brand-Login-body-bgd-color: #FFC328;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #273540;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/437/BYUPW-HorizontalGray.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #454540;
--ic-brand-Login-Content-password-text-color: #454540;
--ic-brand-Login-footer-link-color: #454540;
--ic-brand-Login-footer-link-color-hover: #454540;
--ic-brand-Login-instructure-logo: #454540;
--ic-brand-Login-custom-message: ;
--ic-brand-Discovery-custom-message: ;
--ic-brand-Registration-custom-message: ;
--ic-brand-Registration-parent-custom-message: ;
      }