nav {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin: 1rem;
    background-color: #307bb3;
    margin: 25px;
    padding: 1rem;
}
nav a {
    color: #fff;
    display: block;
}
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #4172da;
    text-align: center;
}

main{
    max-width: 840px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #307bb3;
    text-align: center;
}
h1 {
    color: #1f09cb;
    margin-bottom: 0.5rem;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: #333 solid 1px;
    padding: 5px;
    box-shadow: #333 2px 2px 5px;

}
p {
    padding: 0px
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
